html{
    background-color: rgb(83, 85, 83);
}
.class1{
    background-color: white;
    border: 10px solid red;
    color: rgb(156, 20, 187);
    text-shadow: 2px 2px ;
    width: 25vw;
    height: 250px;

    border-radius: 50px;
    padding: 20px 150px 20px 150px;
    font-size: 22px;
    
    align-items: center;
    text-align: center;
    margin: auto;
}
 .class2{
    background-color: white;
    border: 10px solid red;
    border-radius:30px ;
    height: 200px;
    width: 200px;
    font-size: 30px;
    text-shadow: 2px 2px rgb(118, 19, 19);
    padding: 20px 10px 20px;
    text-align: center;
 }
 .class3{
     font-size: 20px;
     text-align: center;
 }
 .class4{
     border: 10px solid green;
     height: 700px;
     /* display: flex;
     justify-content:flex-start;
     height: 1000px;
     padding: 20px; */
 }
 .class6{
     position: absolute;
     right: 40px;
     top: 380px;
 }
  
 .class8{
    position: absolute;
    right: 40px;
    top: 780px;
 }
 img{
     width: 100%;
     height: 200px;
 }
 .class7{
     position: absolute;
     top: 750px;
     left: 30px;
     text-align: start;
 }
 .class9{
     background-color: rgb(16, 232, 16);
     border: 10px solid rgb(249, 38, 38);
     border-radius: 20px;
     width: 35vw;
     height: 100px;
     color: rgb(162, 13, 13);
     font-size: 32px;
     text-align: center;
     display: inline;
     position: fixed;
     top: 550px;
     right:450px;
     display: flex;
 }
 .class10{
     font-size: 16px;
   margin: 30px;
 }
 .class11{
     margin: 10px 10px;
     
      

 }
 .class12{
     background-color: rgb(84, 236, 84);
     height: 500px;
     width: 850px;
     margin: auto;
     border: 10px solid rgb(40, 9, 70);
     text-align: center; 
     /* align-content: center; */

     display: grid;
     grid-template-columns:  420px 420px ; 
     gap: 10px;
     grid-column: span;


 }
 .class15{
      grid-row-start:3 ; 
     grid-row-end: 4;
     grid-column-start: 1;
     grid-column-end: 3; 
 }
 .class13,.class14,.class15{
     /* font-size: px; */
     background-color: bisque;
 }
 .class16{
     font-size: 35px;
     text-align: center;
      position: relative;
      left: 230px;
      top: 20px;
 }
 .class20{
     background-color: brown;
     border-radius: 10px;
 }
 .class21{
     text-align: center;
 }